<h3>Do you want to be the codemaker or the codebreaker?</h3>
<form class="role" action="/" method="POST">
	<input type="submit" name="role" value="codemaker"/>
	<input type="submit" name="role" value="codebreaker"/>
</form>
<div class="rules">
	<h2>Rules of Mastermind</h2>
	<ul>
	<li>The game consists of a codemaker and a codebreaker.</li></br>
	<li>There are six types of code pegs: [A] [B] [C] [D] [E] [F]</li></br>
	<li>There are two types of key pegs: black [B] and white [W]</li></br>

	<li>The codemaker will choose a hidden pattern of any combination of four code pegs.</li></br>
	<li>Duplicates can be included.</li></br>
	<li>For example, the codemaker might choose: [C] [A] [C] [F]</li></br>

	<li>The codebreaker has 12 attempts to correctly guess the hidden pattern.</li></br> 
	<li>After each guess,the codemaker will use the key pegs to give hints.</li></br>
	<li>Each black [B] peg signifies a correct code peg in the right position.</li></br>
	<li>Each white [W] peg signifies a correct code peg, but in the wrong position.</li></br>
	</ul>
</div>
